<div class="justify-content-center"><h1>Create Group</h1></div>

<form [formGroup]="createGroupForm" (ngSubmit)="createGroup()">

  <mat-form-field>
    <input matInput type="text" id="groupName" placeholder="Group Name" autocomplete="off" formControlName="groupName" required>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput type="text" id="groupType" placeholder="Group Type" autocomplete="off" formControlName="groupType" required>
  </mat-form-field>
  <br/>
  <br/>
  <div class="actions">
    <button mat-raised-button color="danger" mat-dialog-close class="mr-2">Cancel</button>
    <button mat-raised-button color="primary" mat-dialog-close class="mr-2" type="submit" [disabled]="!createGroupForm.valid">Create Group</button>
  </div>

</form>