<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="" class="navbar-brand font-weight-bold mr-auto">TinyUrl</a>
            <span class="navbar-text ml-2 mr-1 text-primary">
                Make Your Url Shorter !!
              </span>
             <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#collapsenavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsenavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/login']">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="['/signup']">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>